<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<import relative="1">sub_folder/sub_beans.xml</import>
	
	<!-- Simple var -->
	<var name="female_gender">female</var>
	<var name="male_gender">male</var>
	
	<!-- List var -->
	<var name="food">
		<list>
			<item>potato</item>
			<item>carrot</item>
		</list>
	</var>
	
	<!-- Simple Bean -->
	<bean name="Person1" path="Person" path_prefix="<?= $app_path; ?>assets/"></bean>
	
	<!-- Complete Bean -->
	<bean name="Person4" path="root.examples.odi.assets.Person">
		<constructor_arg reference="male_gender" />
		<constructor_arg value="15" />
		
		<property name="age" value="30" />
		<property name="gender" reference="female_gender" />
		
		<function name="eat">
			<parameter reference="food" />
		</function>
		<function name="eat">
			<parameter value="orange" />
		</function>
		<function name="eat">
			<parameter>apple</parameter>
		</function>
	</bean>
	
	<!-- function -->
	<function name="eat" reference="Person2" namespace="">
		<parameter value="beer" />
	</function>
</beans>
